---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=64]
      - id: check-symlinks
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: requirements-txt-fixer

  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.28.0
    hooks:
      - id: yamllint
        args: [--format, parsable, --strict]

  - repo: https://github.com/ansible-community/ansible-lint
    rev: v6.10.0a1
    hooks:
      - id: ansible-lint
        args: [--write]
        additional_dependencies:
          - keyring
          - jmespath
          - ansible

  - repo: https://github.com/psf/black
    rev: 22.12.0
    hooks:
      - id: black
