---
extends: default

ignore-from-file: .gitignore

rules:
  indentation:
    spaces: 2
    check-multi-line-strings: false
  line-length:
    max: 160
    allow-non-breakable-words: true
    allow-non-breakable-inline-mappings: false
    level: error
  document-start:
    present: true
    level: error
  key-duplicates: enable
  trailing-spaces: enable
  hyphens:
    max-spaces-after: 1
    level: error
  empty-lines:
    max: 2
    max-start: 0
    max-end: 0
    level: error
  commas:
    max-spaces-before: 0
    min-spaces-after: 1
    max-spaces-after: 1
    level: error
  colons:
    max-spaces-before: 0
    max-spaces-after: 1
    level: error
  brackets:
    min-spaces-inside: 0
    max-spaces-inside: 0
    level: error
  braces:
    min-spaces-inside: 0
    max-spaces-inside: 0
    level: error
  truthy: disable
  comments-indentation: enable
  comments:
    min-spaces-from-content: 1
