##################################
## Python requirement for testing.
## For testing locally, you can import in a virtualenv
## i.e.
## virtualenv ./pyenv-nexus3-oss
## . ./pyenv-nexus3-oss/bin/activate
## pip install -r pyrequirements.txt
## ./tests/run_all_tests.sh
## deactivate
##################################

# Latest ansible 2.2.x
ansible>=2.2,<2.3
# Latest molecule
molecule
# Latest docker-py
docker-py
