##################################
## Python requirement for testing.
## For testing locally, you can import in a virtualenv
## i.e.
## virtualenv --python=python3 /path/topyenv-nexus3-oss
## . /path/to/pyenv-nexus3-oss/bin/activate
## pip install -r pyrequirements.txt
## ./tests/run_all_tests.sh
## deactivate
##
## Note: the virtualenv should be created outside of the
## project index or it will interfere with linting the role
## and produce unwanted errors.
##################################

# Latest ansible
ansible
# Latest molecule
molecule
# git+https://github.com/ansible/molecule.git@96036591b74b5b2475151998df2a145f119d421c
# latest flake8 (missing dep in latest molecule)
flake8
# Yamllint is not in molecule deps anymore
yamllint
# Latest docker
docker
# We use json_query in tasks which requires jmespath
jmespath
# Python vagrant only needed for local test for selinux
# python-vagrant
