---
- name: systemd-reload
  systemd:
    daemon-reload: yes
    name: nexus.service

- name: nexus systemd service restart
  systemd:
    name: nexus.service
    state: restarted
    no_block: yes
  listen: nexus-service-restart
  when: os_systemd.stat.exists

- name: nexus sysv service restart
  service:
    name: nexus
    state: restarted
  listen: nexus-service-restart
  when: os_sysv.stat.exists

- name: nexus systemd service stop
  systemd:
    name: nexus.service
    state: stopped
  listen: nexus-service-stop
  when: nexus_systemd_service_file.stat.exists

- name: nexus sysv service stop
  service:
    name: nexus
    state: stopped
  listen: nexus-service-stop
  when: nexus_sysv_service_file.stat.exists

- name: wait-for-nexus
  wait_for:
    path: "{{ nexus_data_dir }}/log/nexus.log"
    search_regex: "Started Sonatype Nexus .*"
    timeout: 1800

- name: wait-for-nexus-port
  wait_for:
    port: "{{ nexus_default_port }}"
    timeout: "{{ nexus_wait_for_port_timeout | default(omit) }}"
  retries: "{{ nexus_wait_for_port_retries | default(omit) }}"
  register: wait_for_result
  until: wait_for_result is success

- name: httpd-service-reload
  systemd:
    name: "{{ httpd_package_name }}.service"
    state: reloaded
    enabled: yes
    no_block: yes

- name: wait-for-httpd
  wait_for:
    port: 443
    delay: 5
